---
# Jekyll requires front matter (even empty) to process SCSS files
# This file compiles to /assets/css/main.css
---

// Import partials from `_sass`
@import "variables";
@import "base";
@import "layout";
@import "components";
@import "post";
@import "syntax";
@import "chat-widget";